main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 45px);
}

.chart-container, .configuration-container {
  display: flex;
  flex: 1;
}

.chart-container {
  width: 100%;
}

.configuration-container {
  flex-direction: row;
}

.tools-container, .json-container {
  height: 100%;
  overflow-y: auto;
}

button {
  margin-bottom: 0 !important;
}

.row.full-width {
  max-width: 100%;
}