main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 45px);
}

.chart-container, .configuration-container {
  display: flex;
  flex: 1;
}

.chart-container {
  width: 100%;
}

.configuration-container {
  flex-direction: row;
}

.tools-container, .json-container {
  height: 100%;
  overflow-y: auto;
}

.json-container {
  font-size: 80%;
  line-height: 16px;
  background-color: #F7F8F9;
  border: 1px solid #CACACA;
  border-radius: 3px;
}

button {
  margin-bottom: 0 !important;
}

.row.full-width {
  max-width: 100%;
}

a.disabled {
  cursor: not-allowed !important;
  opacity: .5;
}